[submodule "examples/blink/vendor/CMSIS"]
	path = examples/blink/vendor/CMSIS
	url = https://github.com/ARM-software/CMSIS_5
[submodule "examples/test/vendor/CMSIS"]
	path = examples/test/vendor/CMSIS
	url = https://github.com/ARM-software/CMSIS_5
